header {
  display: flex;
  margin: 3em;


}

#One {
  order: 1;
}

#Two {
  order: 2;
  
}
#blank {
  order: 2;
  flex-grow: 3;
}

#Three {
  order: 3;
  margin: 1px;

}

#Four {
  order: 4;
  border: 1px;
  margin: 1px;
}

#Five {
  order: 5;
  margin: 1px;
}

#Six {
  order: 6;
  margin: 1px;
}

#Seven {
  order: 7;
  margin: 1px;
}

#Eight {
  order: 8;
  margin: 1px;
}

#Nine {
  order: 9;
  margin: 1px;
}

#Ten  {
  order: 10;
  margin: 1px;
}

h2 {
font-family: cursive;
font-size: 30px; 
width: 100%;
}

body {
  
  margin: 3em;

}
h1 {
  font-size: 40px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#blank2 {
  text-align: right;
}

#pizza {
  text-align: center;
  height: 400px; width: auto;
}

#word {
  width: 400px;
  text-align: center;
}
footer {
  display: flex;
  margin: 3em;
}
#blank3 {
  order: 1px;
  flex-grow: 3
}
#van {
  order: 2;
}
#text {
order: 3;
width: 500px;
}
#blank4 {
  order: 3;
  flex-grow: 2;
}
#button {
  color: white;
  background-color: rgba(206, 115, 87, 0.877);
  padding: 10%;
  width: 10em;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  border: 0;
}
#bp {
  order: 4;
}
.container {
  position: relative;
}
.textblock {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
}